.card {
    display: grid;
    box-shadow: 0 3px 7px 0 rgba(2, 0, 3, 3);
    width: 100% ;
    padding-bottom: 2em;
}

.card__info {
    padding: 20px ;
}

.card__name{
    text-align: center;
} 

.card p{
    margin: 0;
    padding: 0 0 0 2em;
}